@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Administration Tools</h2>

    <p>
        @Html.ActionLink("Items", "List", "ItemManagement", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Question Sets", "List", "QuestionSet", null, new { @class = "btn" })
    </p>
    <p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Administrative Screens <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Transaction Lookup", "AdminLookup", "Transaction")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Application Management", "Index", "ApplicationManagement")</li>
                <li>@Html.ActionLink("System Reports", "ViewSystemReport", "Report")</li>
                <li>@Html.ActionLink("Manage Users", "ManageUsers", "Account")</li>
            </ul>
        </div>
    </p>
    <hr/>
    <p>
        <a class="btn btn-green" href="https://github.com/ucdavis/CRP/wiki" target="_blank">What's New (May 8, 2018)</a>
    </p>
</div>
