@model CRP.Controllers.ViewModels.ExtendedPropertyViewModel

@{
    ViewBag.Title = "Create Extended Property";

    var questionTypeSelectOptions = Model.QuestionTypes.Select(q => new SelectListItem() {Text = q.Name, Value = q.Id.ToString()});
}

<div class="boundary">
<h2>Create Extended Property for @Model.ItemType.Name</h2>


@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {

    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Fields</legend>
        <p>
            <label for="Name">Name:</label>
            @Html.TextBox("Name")
            @Html.ValidationMessage("ExtendedProperty.Name")
        </p>
        <p>
            <label>Question Type:</label>
            @Html.DropDownList("QuestionType", questionTypeSelectOptions, "Select a Question Type")
            @Html.ValidationMessage("ExtendedProperty.QuestionType")
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

 } 

<div>
    @Html.ActionLink("Back to Item Type", "EditItemType", "ApplicationManagement", new { id = Model.ItemType.Id }, new {})
</div>
</div>