@using CRP.Core.Resources
@model CRP.Controllers.ViewModels.CreateReportViewModel

@{
    ViewBag.Title = "Create New Report";
}
<div class="main">
<div class="boundary">
<h2>Create New Report</h2>

@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Report Name</legend>

        <p>
            <label for="Name">Name: </label>
            @Html.TextBox("Name", Model.ItemReport != null ? Model.ItemReport.Name : string.Empty, new { style = "width: 300px", @class = "required" })
            @Html.ValidationMessage("ItemReport.Name")

        </p>


    </fieldset>
    <div id="toggle_all" class="btn" style="margin-top: 10px; margin-bottom: 10px;">
        Toggle Selected Columns
    </div>
    <fieldset>
        <legend>Selected Columns</legend>

        <div id="selectedColumns" class="t-widget t-grid">
            <table cellspacing=0>
                <thead>
                <tr>
                    <td class="t-header"></td>
                    <td class="t-header">Field Name</td>
                    <td class="t-header">Format</td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </fieldset>
    <fieldset class="indexedControlContainer">
        <legend>Transaction Level</legend>

        @foreach (var qs in Model.Item.QuestionSets.Where(a => a.TransactionLevel).OrderBy(a => a.Order))
        {

            foreach (var q in qs.QuestionSet.Questions.Where(a => a.QuestionType != Model.QuestionTypeNoAnswer))
            {
                <span id='@q.Id'>

                    <input type="checkbox" id="_Selected" name=".Selected" class="@StaticValues.Class_indexedControl" />
                    <label for="Selected" class="indexedControl">@( string.Format("{0} ({1})", q.Name, q.QuestionSet.Name) )</label>
                    <input type="hidden" id="_Transaction" class="@StaticValues.Class_indexedControl" value="true" />
                    <input type="hidden" id="_QuestionId" class="@StaticValues.Class_indexedControl" value="@q.Id" />
                    <input type="hidden" id="_QuestionSetId" class="@StaticValues.Class_indexedControl" value="@q.QuestionSet.Id" />
                </span>
            }
        }

    </fieldset>
    <fieldset class="indexedControlContainer">
        <legend>Quantity Level</legend>
        @foreach (var qs in Model.Item.QuestionSets.Where(a => a.QuantityLevel).OrderBy(a => a.Order))
        {
            foreach (var q in qs.QuestionSet.Questions.Where(a => a.QuestionType != Model.QuestionTypeNoAnswer))
            {
                <span id='@q.Id'>

                    <input type="checkbox" id="_Selected" name=".Selected" class="@StaticValues.Class_indexedControl" />
                    <label for="Selected" class="indexedControl">@( string.Format("{0} ({1})", q.Name, q.QuestionSet.Name))</label>
                    <input type="hidden" id="_Quantity" class="@StaticValues.Class_indexedControl" value="true" />
                    <input type="hidden" id="_QuestionId" class="@StaticValues.Class_indexedControl" value="@q.Id" />
                    <input type="hidden" id="_QuestionSetId" class="@StaticValues.Class_indexedControl" value="@q.QuestionSet.Id" />
                </span>
            }
        }
    </fieldset>
    <fieldset class="indexedControlContainer">
        <legend>Properties</legend>

        <span id="propertyTransactionNumber" class="property">
            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Transaction Number")</label>

            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_TransactionNumber" />
        </span>

        <span id="propertyTransactionDate" class="property">
            <label for="Selected" class="indexedControl">@Html.Encode("Transaction Date")</label>

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_TransactionDate" />
        </span>

        <span id="propertyActive" class="property">
            <label for="Selected" class="indexedControl">@Html.Encode("Active")</label>

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_Active" />
        </span>

        <span id="propertyDonationTotal" class="property">

            <label for="Selected" class="indexedControl">@Html.Encode("Donation Total")</label>
            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_DonationTotal" />
        </span>

        <span id="propertyAmountTotal" class="property">

            <label for="Selected" class="indexedControl">@Html.Encode("Amount Total")</label>
            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_AmountTotal" />
        </span>

        <span id="propertyTotal" class="property">


            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Total")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_Total" />
        </span>

        <span id="propertyPaymentType" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Payment Type")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_PaymentType" />
        </span>

        <span id="propertyQuantity" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Quantity")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_Quantity" />
        </span>

        <span id="propertyPaid" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Paid")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_Paid" />
        </span>

        <span id="propertyTotalPaid" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Total Paid")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_TotalPaid" />
        </span>

        <span id="propertyRefundIssued" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Refund Issued")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_RefundIssued" />
        </span>

        <span id="propertyRefundAmount" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Refund Amount")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_RefundAmount" />
        </span>

        <span id="propertyNotified" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Notified")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_Notified" />
        </span>

        <span id="propertyNotifiedDate" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Notified Date")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_NotifiedDate" />
        </span>
        <span id="propertyTransactionGuid" class="property">

            <input type="checkbox" id="_Selected" class="@StaticValues.Class_indexedControl" />
            <label for="Selected" class="indexedControl">@Html.Encode("Credit Card Id")</label>
            <input type="hidden" id="_Property" class="@StaticValues.Class_indexedControl" value="true" />
            <input type="hidden" id="_PropertyName" class="@StaticValues.Class_indexedControl" value="@StaticValues.Report_TransactionGuid" />
        </span>

    </fieldset>
    <p style="margin-top: 10px; margin-bottom: 10px;">
        <input type="submit" value="Create" class="btn btn-primary"/> |
        @Html.ActionLink("Cancel", "Details", "ItemManagement", null, null, "Reports", new { id = Model.Item.Id }, new {@class="btn"})
    </p>

    <span style="display: none">
        @if (Model.ItemReport != null)
        {
            foreach (var irc in Model.ItemReport.Columns)
            {
                var columnId = irc.Property
                 ? "property" + irc.Name
                 : irc.QuestionSet.Questions.Where(a => a.Name == irc.Name).FirstOrDefault().Id.
                     ToString();
                <div class="reload" data-id="@columnId"></div>
            }
        }
    </span>
}

</div>
<br/>
    <br /><br /><br />
</div>
<div style="clear:both;"></div>


@section AdditionalStyles
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}

@section AdditionalScripts
{
    <script src="@Url.Content("~/Scripts/jquery.CaesMutioptionControl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RenameForArray.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // change the look of the checkboxes
            $("input[type='CheckBox']").CaesMutioptionControl({ width: '700px' });

            $("div.button").on("click",
                function() {
                    CreateRow($(this).parent(), this);

                    RenameControls($("div#selectedColumns"), "createReportParameters", "tr.dataRow");
                });

            $("#toggle_all").click(function() {
                var containers = $(".indexedControlContainer");
                $.each(containers,
                    function(index, item) {
                        var spans = $(item).find("span");
                        $.each(spans,
                            function(index2, item2) {
                                $(item2).find("div.button").click();
                            });
                    });
            });
            
            var reloadit = $(".reload");
            $.each(reloadit, function () {
                var columnId = $(this).data("id");

                var spans = $('#' + columnId);

                $.each(spans,

                    function (index2, item2) {
                        $(item2).find("div.button").click();
                    });


            });

        });

        function CreateRow(span, button) {
            if ($(button).hasClass("selected")) {
                var tbody = $("div#selectedColumns").find("tbody");

                // this only works against properties with real question id, not property
                var tr = $("<tr>").addClass("dataRow")
                    .attr("id", $(span).attr("id")); //.find("input#_QuestionId").val());

                var cell1 = $("<td>");
                cell1.append($(span).find("input.indexedControl[type='hidden']").clone());

                tr.append(cell1);
                tr.append($("<td>").html($(span).find("label.indexedControl").html()));
                tr.append($("<td>").html($("<input>").addClass("indexedControl").attr("type", "checkbox")
                    .attr("value", "Capitalize").attr("id", "_Format").attr("name", ".Format")).append(" Capitalize"));

                tbody.append(tr);
            } else {
                // deal with properties
                if ($(span).hasClass("property")) {
                    $("tr#" + $(span).attr("id")).remove();
                } else {
                    $("tr#" + $(span).find("input#_QuestionId").val()).remove();
                }
            }
        }
    </script>

}

