@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Application Management</h2>
    <p>
        @Html.ActionLink("Item Types", "ListItemTypes", "ApplicationManagement", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Question Sets", "List", "QuestionSet", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Edit System Confirmation Template", "Edit", "Template", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("FID management", "Index", "FID", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Application Key management", "Index", "ApplicationKey", null, new { @class = "btn" })
    </p>
</div>

