@{
    ViewBag.Title = "Index";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Application Management</h2>
    <p>
        @Html.ActionLink("Item Types", "ListItemTypes", "ApplicationManagement", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Question Sets", "List", "QuestionSet", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Edit System Confirmation Template", "Edit", "Template", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Financial Account Management", "Index", "FinancialAccount", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Application Key management", "Index", "ApplicationKey", null, new { @class = "btn" })
    </p>
    <p>
        @Html.ActionLink("Uncleared CyberSource Transactions", "ViewUnCleared", "ApplicationManagement", null, new { @class = "btn" })
    </p>
</div>

