@model CRP.Controllers.ViewModels.EditTransactionViewModel
@using CRP.Controllers.Helpers
@using CRP.Core.Resources

@{
    ViewBag.Title = "Refund";
}

<h2>Refund</h2>
<h3>Internal use only</h3>

@Html.ValidationSummary("Refund was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.Hidden("RefundSort", Model.Sort)
    @Html.Hidden("RefundPage", Model.Page)

    <fieldset>
        <legend>Fields</legend>
        <ul>
            <li>
                Transaction Number: @Model.TransactionValue.TransactionNumber
            </li>               
            <li>
                Transaction Unique Identifier (Needed for Credit Card Refund): 
                @Model.TransactionValue.TransactionGuid + Model.Fid
            </li>
            <li>
                Transaction Date:
                @Model.TransactionValue.TransactionDate
            </li>    
            <li>
                Contact Name:
                @Model.ContactName
            </li>
            <li>
                Contact Email:
                @Model.ContactEmail
            </li> 
            <li>
                Payment Method: @(Model.TransactionValue.Check ? "Check" : "Credit Card")
            </li>                
            <li>
                Amount:
                @Model.TransactionValue.AmountTotal.ToString("C")
            </li>
            <li>
                Donation Total:
                @Model.TransactionValue.DonationTotal.ToString("C")
            </li>
            <li>
                Total:
                @Model.TransactionValue.Total.ToString("C")
            </li>
            <li>
                Total Paid:
                @Model.TransactionValue.TotalPaid.ToString("C")
            </li>

            <li>
                <label for="Amount">Refund Amount:</label>
                @Html.TextBox("Amount", Model.Amount != 0 ? string.Format("{0:0.00}", Model.Amount) : string.Empty, new {@class="amount"})
                @Html.ValidationMessage("Amount")
                @Html.ValidationMessage("TotalPaid")
            </li>
            
            <li>
                <label for="CorrectionReason">Refund Reason:</label>
                @Html.TextArea("CorrectionReason", Model.CorrectionReason)
                @Html.ValidationMessage("Transaction.CorrectionReason")
            </li>
            <li><input type="submit" value="Refund" /></li>   
        </ul>
    </fieldset>
 } 

<div>
    @Url.DetailItemLink(Model.TransactionValue.Item.Id, StaticValues.Tab_Refunds, Model.Sort, Model.Page)
</div>
