@using CRP.Core.Domain
@using Microsoft.Web.Mvc

@{
    ViewBag.OgImage = string.IsNullOrWhiteSpace(ViewBag.OgImage) ? Url.Content("~/Images/Media/thumbnail.jpg") : ViewBag.OgImage;
    ViewBag.OgDescription = string.IsNullOrWhiteSpace(ViewBag.OgDescription) ? "Online Registration for UC Davis events developed by the College of Agriculture and Environmental Sciences at UC Davis" : ViewBag.OgDescription;
    ViewBag.OgTitle = string.IsNullOrWhiteSpace(ViewBag.OgTitle) ? "Online Registration" : ViewBag.OgTitle;
}

<!DOCTYPE html>
<html>
<head>
    <!-- le Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="UC Davis Starter template for CAES CRU and anyone else">
    <meta name="classification" content="UC Davis Starter template for CAES CRU and anyone else">
    <meta name="theme-color" content="#">
    <link rel="image_src" href="@Url.Content("~/Images/Media/thumbnail.jpg")" />
    <meta property="og:image" content="@ViewBag.OgImage">
    <meta property="og:description" content="@ViewBag.OgDescription" />
    <meta property="og:title" content="@ViewBag.OgTitle" />
    <link rel="shortcut icon" href="@Url.Content("~/Images/Media/favicon.ico")">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="&#64;ucdavis">
    <meta name="twitter:title" content="@ViewBag.OgTitle">
    <meta name="twitter:description" content="@ViewBag.OgDescription">
    <meta name="twitter:image:src" content="@ViewBag.OgImage">

    <!-- Typekit -->
    <script src="https://use.typekit.net/vqy0brq.js"></script>
    <script>
        try {
            Typekit.load();
        } catch (e) {}
    </script>

    <title>UC Davis Registration</title>
    <meta name="description" content="Online Registration for UC Davis events developed by the College of Agriculture and Environmental Sciences at UC Davis">
    
    <!-- le Apple -->
    <link rel="apple-touch-icon" href="@Url.Content("~/Images/Media/thumbnail.jpg")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Images/Media/76-icon.jpg")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Images/Media/120-icon.jpg")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Images/Media/156-icon.jpg")">
    
    
    @Styles.Render("~/Content/public-css")

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("AdditionalStyles", required: false)
</head>
<body>

<header>
    <div class="bleed">
        <div class="topbanner">
            <div class="header_item">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/Media/ucdavislogo.svg")" alt="UC Davis"></a>
            </div>
            <div class="header_item">
                @using (Html.BeginForm("Index", "Search"))
                {
                    @Html.AntiForgeryToken()
                    <div id="search_box" class="search_box">
                        @Html.TextBox("searchTerm", string.Empty, new { @maxlength = "20" })
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="header_contents">
        <div class="header_item">
            <!-- <h1><a href="/">Registration</a></h1> -->
            <a href="/"><img src="@Url.Content("~/Images/Media/registrationlogo.svg")" alt="UC Davis CAES logo"></a>
        </div>

        <div class="login_contents">
            <!-- May not want or need this -->
            @RenderSection("NavButtons", required: false)
        </div>

        <div class="header_item">
            <a href="http://www.caes.ucdavis.edu/"><img src="@Url.Content("~/Images/Media/caeslogo.svg")" alt="UC Davis CAES logo"></a>
        </div>

    </div>
    
</header>
<div class="body-content">
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <div class="boundary">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.ErrorMessage
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
    {
        <div class="boundary">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["ErrorMessage"]
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
    {
        <div class="boundary">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["Message"]
            </div>
        </div>
    }

    @RenderBody()

    <footer>
        <div class="footer_contents">
            <div class="foot_top">
                <!-- <ul class="footer-list no-bullet">
                    <li><a href="/">UC Davis Commencement</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/colophon">Site Information</a></li>
                </ul> -->
            </div>
            <div class="foot_bottom">
                <ul class="footer-list no-bullet">
                    <li>
                        &copy; Copyright 2005-
                        <script language="JavaScript" type="text/javascript">
                            now = new Date;
                            theYear = now.getYear();
                            if (theYear < 1900)
                                theYear = theYear + 1900;
                            document.write(theYear);
                        </script>
                        The Regents of the University of California, Davis campus. All rights reserved.
                    </li>
                    <!-- <li><a href="http://kb.sparknearby.com/legal">Contact</a></li>
                    <li><a href="/posts/all">Recent</a></li> -->
                </ul>
                <ul class="footer-list no-bullet float-right">
                    <li>@Html.ActionLink("Admin Home", "AdminHome", "Home")</li>
                    @*<li>•</li>
                        <li><a href="#">Help</a></li>*@ <!-- Don't think we want a link to help on the public side of things.-->
                </ul>
            </div>
        </div>
    </footer>
</div>
    @*<script src="https://www.google.com/jsapi" type="text/javascript"></script>*@  

@Scripts.Render("~/bundles/jqueryCurrent")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/watermark")

<script type="text/javascript">
    $(document).ready(function() {
        $("input#searchTerm").watermark('Search     ', { className: 'watermark' });
    });
</script>
@RenderSection("AdditionalScripts", required: false)
</body>
</html>
