@model CRP.Controllers.ViewModels.ItemViewModel
@using CRP.Controllers.Helpers;
@using Microsoft.Azure
@using MvcContrib.FluentHtml

@{ 
    var selectedItemType = Model.ItemTypes.FirstOrDefault(t => t.Id == Model.Item?.ItemTypeId);
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.CanChangeFinanceAccount, !Model.CanChangeFinanceAccount)

<fieldset>
    <legend><a href="@CloudConfigurationManager.GetSetting("WatchDemoLink")'" target="_blank">Watch Demo</a></legend>
    <div class="form-group">
        <label>Item Type:</label>
        @{ 
            var typeDisabled = false;
            if (Model.Item != null || !Model.IsNew)
            {
                typeDisabled = true;
            }

            var typeOptions = Model.ItemTypes.Select(t => new SelectListItem { Text = t.Name, Value = t.Id.ToString() });

            Func<object> getItemTyepHtmlOptions = () =>
            {
                if (typeDisabled)
                {
                    return new { @class = "form-control", @required = true, @disabled = true };
                }

                return new { @class = "form-control", @required = true };
            };
        }

        @Html.DropDownListFor(x => x.Item.ItemTypeId, typeOptions, "--Select an item type--", getItemTyepHtmlOptions())
        @Html.ValidationMessageFor(x => x.Item.ItemTypeId)
        @if (typeDisabled)
        {
            @Html.HiddenFor(x => x.Item.ItemTypeId)
        }
    </div>

    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Item.Name, new { @class="form-control" })
        @Html.ValidationMessageFor(x => x.Item.Name)
    </div>
    <div class="form-group">
        <label>Unit:</label>
        @this.Select("Item.UnitId").Class("form-control").Options(Model.Units, x=>x.Id, x=>x.FullName).Selected(Model.Item != null ? Model.Item.UnitId : (Model.UserUnit != null ? Model.UserUnit.Id : 0 ))
    </div>
    <div class="form-group">
        <label>Account Number:</label>
        @{
            var accountDisabled = true;
            if (Model.Item == null)
            {
                accountDisabled = false;
            }
            else if (Model.IsNew)
            {
                accountDisabled = false;
            }
            else if (Model.Item.FinancialAccountId == null)
            {
                accountDisabled = false;
            }
            else if (Model.CanChangeFinanceAccount)
            {
                accountDisabled = false;
            }

            var accountOptions = Model.FinancialAccounts.Select(a => new SelectListItem() { Text = a.GetAccountString(), Value = a.Id.ToString() });

            Func<object> getFinancialAccountHtmlOptions = () =>
            {
                if (accountDisabled)
                {
                    return new { @class = "form-control", @disabled = true };
                }

                return new { @class = "form-control" };
            };
        }


        @Html.DropDownListFor(x => x.Item.FinancialAccountId, accountOptions, "--Select an Account Number--",  getFinancialAccountHtmlOptions())
        @Html.ValidationMessage("Item.FinancialAccount")
        <span>*Note: If you choose the wrong Account Number, you may not receive your payments made by Credit Card.</span>
        
    </div>

    <div class="form-group">
        <label>Summary:</label>
        @Html.TextAreaFor(x => x.Item.Summary, new { @class="form-control", rows="5", @data_toggle="tooltip", @title = "A short summary of the item to display on the home page with the other active items. Line breaks will not display. Max 750 characters."})
        @Html.ValidationMessageFor(x => x.Item.Summary)
    </div>
    <div class="form-group">
        <label>Description:</label>
        @Html.TextAreaFor(x => x.Item.Description, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(x => x.Item.Description)
    </div>
    <div class="form-group">
        <label>Check Payment Instructions:</label>
        @{
            var checkPaymentInstructionsValue = Model.Item?.CheckPaymentInstructions == null
                ? Html.HtmlEncode("<h1>Thank you for your purchase!</h1> <h2>Please mail your RSVP card and payment to:</h2> <address>College of Agricultural and Environmental Sciences<br />150 Mrak Hall<br />One Shields Ave.<br />Davis, CA 95616<br /></address><h2>Please make checks payable to UC Regents.</h2>")
                : Html.HtmlEncode(Model.Item.CheckPaymentInstructions);
        }
        
        <textarea class="form-control" cols="20" data-val="true" data-val-required="The CheckPaymentInstructions field is required." id="Item_CheckPaymentInstructions" name="Item.CheckPaymentInstructions" rows="5">@checkPaymentInstructionsValue</textarea>
        
        @Html.ValidationMessageFor(x => x.Item.CheckPaymentInstructions)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Item.AllowCreditPayment)
            Allow Credit Payment
        </label>
        @Html.ValidationMessageFor(x => x.Item.AllowCreditPayment)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Item.AllowCheckPayment)
            Allow Check Payment
        </label>
        @Html.ValidationMessageFor(x => x.Item.AllowCheckPayment)
    </div>

    <div class="form-group">
        <label>Name Of Item:</label>
        @Html.TextBoxFor(x => x.Item.QuantityName, new { @Value = Model.Item?.QuantityName ?? "Ticket", @class="form-control" })
        @Html.ValidationMessageFor(x => x.Item.QuantityName)
    </div>
    <div class="form-group">
        <label id="CostPerItemLabel">Cost Per @(Model.Item?.QuantityName ?? "Ticket"):</label>
        @Html.TextBoxFor(x => x.Item.CostPerItem, "{0:0.00}", new { @class="form-control" })
        @Html.ValidationMessageFor(x => x.Item.CostPerItem)
    </div>
    <div class="form-group">
        <label id="QuantityLabel">Number of @(Model.Item?.QuantityName ?? "Ticket")(s) Available:</label>
        @Html.TextBoxFor(x => x.Item.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Item.Quantity)
    </div>
    <div class="form-group">
        <label for="Item.Expiration">Last Day To Register Online:</label>
        @Html.TextBoxFor(x => x.Item.Expiration, "{0:d}", new { @class="form-control", @data_provider="datepicker" })
        @Html.ValidationMessageFor(x => x.Item.Expiration)
    </div>
    <div class="form-group">
        <label for="Item.Link">Link:</label>
        @Html.TextBoxFor(x => x.Item.Link, new { @class = "form-control validateLink", @data_toggle="tooltip", @title = "You need the http:// or https:// at the start for a valid URL. For example: http://www.ucdavis.edu/index.html", @placeholder= "Example: http://www.ucdavis.edu/index.html" })
        @Html.ValidationMessageFor(x => x.Item.Link)
    </div>
    <fieldset class="field-border">
        <legend class="field-border">Optional Donation Link</legend>
        <div class="form-group">
            <label>Donation Legend:</label>
            @Html.TextBoxFor(x => x.Item.DonationLinkLegend, new { @class="form-control" })
            @Html.ValidationMessageFor(x => x.Item.DonationLinkLegend)
        </div>
        <div class="form-group">
            <label>Donation Information:</label>
            @Html.TextAreaFor(x => x.Item.DonationLinkInformation, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Item.DonationLinkInformation)
        </div>
        <div class="form-group">
            <label>Donation Link:</label>
            @Html.TextBoxFor(x => x.Item.DonationLinkLink, new { @class = "form-control", @data_toggle ="tooltip", @title = "If this is blank, it will not show up to the user. Validation Has been removed for this field. You need to test it before making this available to the public." })
            @Html.ValidationMessageFor(x => x.Item.DonationLinkLink)
        </div>
        <div class="form-group">
            <label>Donation Link Text:</label>
            @{
                var defaultDonationLinkText = Model.Item != null
                    ? Model.Item.DonationLinkText
                    : "Click here";
            }
            @Html.TextBoxFor(x => x.Item.DonationLinkText, new { @class = "form-control", @Value = defaultDonationLinkText, @data_toggle ="tooltip", @title = "This is the text that will appear in the clickable link." })
            @Html.ValidationMessageFor(x => x.Item.DonationLinkText)
        </div>
    </fieldset>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Item.Available, new { @data_toggle = "tooltip", @data_placement = "right", @title = "This allows the general public to register if the last day to register has not passed." })
            Available to public
        </label>
        @Html.ValidationMessageFor(x => x.Item.Available)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Item.Private, new { @data_toggle = "tooltip", @data_placement = "right", @title = "If this is checked, an available event will not be listed on the home screen." })
            Private Conference
        </label>
        @Html.ValidationMessageFor(x => x.Item.Private)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Item.NotifyEditors, new { @data_toggle = "tooltip", @data_placement = "right", @title = "If this is checked, all editors for the event will be notified everytime someone registers for the event." })
            Notify Editors on purchase
        </label>
    </div>
    <div class="form-group">
        <label>Restricted Password:</label>
        @Html.TextBoxFor(x => x.Item.RestrictedKey, new { @class="form-control" })
        @Html.ValidationMessageFor(x => x.Item.RestrictedKey)
    </div>
    <div class="form-group">
    Direct Link to Register:
    @if (Model.Item?.Id == null)
    {
        <span>Save Item to see link</span>
    }
    else
    {
        <span>
            @Url.Action("Details", "Item", new { id = Model.Item?.Id }, "https")
        </span>
    }
    </div>
</fieldset>

<fieldset class="field-border">
    <legend class="field-border">Extended Properties</legend>
    @Html.ValidationMessage("Extended Properties")
    <div id="ExtendedProperties">
        @if (selectedItemType?.ExtendedProperties != null)
        {
            var properties = selectedItemType.ExtendedProperties.ToList();
            for (var i = 0; i < properties.Count; i++)
            {
                // try to match answers
                var property = properties[i];
                var answer = Model.Item.ExtendedPropertyAnswers.FirstOrDefault(a => a.ExtendedProperty == property);
                var value = answer?.Answer ?? string.Empty;
                var isDate = property.QuestionType.Name == "Date";

                <div class="form-group">
                    <label>@property.Name</label>
                    <input type="text" id="ExtendedProperties[@i]_value"
                           name="ExtendedProperties[@i].value"
                           value='@value'
                           class='required form-control'
                           data-provide="@(isDate ? "datepicker" : string.Empty)"
                           data-date-format="mm/dd/yyyy"
                           placeholder='@(isDate ? "mm/dd/yyyy" : string.Empty)' />
                    <input type="hidden"
                           name="ExtendedProperties[@i].propertyId"
                           value='@property.Id' />
                </div>
            }
        }
    </div>
</fieldset>

<fieldset class="field-border">
    <legend class="field-border">Upload Picture</legend>
    <!-- NEEDS BALLOON-->

    <img src='@Url.Action("GetImage", "Item", new {id = Model.Item?.Id ?? -1})' alt="" />

    <input type="file" id="file" name="file" title='' />
    <p>
        The maximum picture size is 4 meg. It must have an aspec ratio of 16:9 (1200x675 preferred). <br />
        A free online resize tool can be found at: http://www.picresize.com/  <br />
        This one is a little better for cropping if you need to change the aspect ratio: http://resizeimage.net/
    </p>
    @Html.ValidationMessage("Image")
</fieldset>

<fieldset class="field-border">
    <legend class="field-border">Tags</legend>

    <!-- NEEDS BALLOON-->
    <div class="form-group">
        <input type="text" id="tagInput" title='You must click on the plus button to add the tag you have entered here' data-toggle="tooltip" data-placement="top" />
        <img id="tagAddButton" src="@Url.Content("~/Images/plus.png")" style="height:24px; width: 24px" />
    </div>
    <div id="tagContainer">
        @if (Model.Item != null)
        {
            foreach (var tag in Model.Item.Tags)
            {
                <input type="text" id="tags" name="tags" title='Click on the tag to remove it.' style="cursor:pointer" value='@tag' data-toggle="tooltip" data-placement="bottom" />
            }
        }
    </div>
</fieldset>
<input type="submit" value="Save" class="btn btn-primary" />
