@model IEnumerable<CRP.Core.Domain.Transaction>
    
<div class="tab-pane active" id="Transactions">
    <table id="table-Transactions" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Transaction</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Credit Card</th>
                <th>Paid</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(a => a.ParentTransaction == null))
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Transaction", new{ id = item.Id })">Details</a> |

                        @using (Html.BeginForm("ToggleTransactionIsActive", "ItemManagement", new {id = item.Id}, FormMethod.Post, new { style="display:inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn-link">@(item.IsActive ? "Deactivate" : "Activate")</button>                                                                                      
                        }
                    </td>
                    <td>@Html.DisplayFor(x => item.TransactionNumber)</td>
                    <td>@Html.DisplayFor(x => item.Quantity)</td>
                    <td data-sort="@item.Amount">@($"{item.Amount:C}")</td>
                    <td>@Html.DisplayFor(x => item.Credit)</td>
                    <td>@Html.DisplayFor(x => item.Paid)</td>
                    <td>@Html.DisplayFor(x => item.IsActive)</td>
                </tr>
            }
        </tbody>
    </table>
</div>



