@model CRP.Controllers.ViewModels.ItemViewModel

@{
    ViewBag.Title = "Create";
}

<div class="boundary">

    <h2>Create</h2>

    @Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

    @using (Html.BeginForm("Create", "ItemManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        Html.RenderPartial("ItemForm");
    }

    <div class="pull-right">
        @Html.ActionLink("Back to List", "List", "ItemManagement")
    </div>
</div>

@section AdditionalScripts {
    <script type="text/javascript">
    var getExtendedPropertyUrl = '@Url.Action("GetExtendedProperties", "ItemManagement")';
    var scriptUrl = '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")';
    </script>

    @Scripts.Render("~/Scripts/ItemEdit.js")
    @Scripts.Render("~/Scripts/tiny_mce/jquery.tinymce.js")
    @Scripts.Render(" ~/Scripts/jquery.enableTinyMce.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Item_Description").enableTinyMce({ script_location: '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")' });
            $("#Item_CheckPaymentInstructions").enableTinyMce({ script_location: '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")', overrideHeight: '255' });
        });
    </script>
}
