@model CRP.Controllers.ViewModels.ItemViewModel

@{
    ViewBag.Title = "Create";
}

<div class="boundary">

    <h2>Create</h2>

    @Html.ValidationSummary(false, "Create was unsuccessful. Please correct the errors and try again.")

    @using (Html.BeginForm("Create", "ItemManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        Html.RenderPartial("ItemForm");
    }

    <div class="pull-right">
        @Html.ActionLink("Back to List", "List", "ItemManagement")
    </div>
</div>

@section AdditionalStyles
{
    @Styles.Render("~/Content/Chosen")
}

@section AdditionalScripts {
    <script type="text/javascript">
    var getExtendedPropertyUrl = '@Url.Action("GetExtendedProperties", "ItemManagement")';
    var scriptUrl = '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")';
    </script>

    @Scripts.Render("~/Scripts/ItemEdit.js")
    @Scripts.Render("~/Scripts/tiny_mce/jquery.tinymce.js")
    @Scripts.Render(" ~/Scripts/jquery.enableTinyMce.js")
    @Scripts.Render("~/bundles/chosen")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Item_Description").enableTinyMce({ script_location: '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")' });
            $("#Item_CheckPaymentInstructions").enableTinyMce({ script_location: '@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")', overrideHeight: '255' });
            $("#Item_FinancialAccountId").chosen();
        });
    </script>

    <script src="https://finjector.ucdavis.edu/finjector.js?v=3" type="text/javascript"></script>

    <script type="text/javascript">

        $("#ccoa-picker").on("click",

            async function () {
                const chart = await window.Finjector.findChartSegmentString();
                if (chart && chart.status === "success") {
                    $("#Item_UserAddedFinancialAccount").val(chart.data);
                }
                else {
                    alert("Something went wrong with the CCOA picker")
                }
                return false;
            });

    </script>
}

