@using CRP.Controllers
@using CRP.Core.Resources
@using Microsoft.Web.Mvc
@model CRP.Controllers.ViewModels.UserItemDetailViewModel

@{
    ViewBag.Title = "DetailsNew";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">

    <h2>Details: @Model.Item.Name</h2>
    
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#Transactions" data-toggle="tab">Transactions</a></li>
        <li><a href="#Checks" data-toggle="tab">Checks</a></li>
        <li><a href="#Reports" data-toggle="tab">Reports</a></li>
        <li><a href="#Refunds" data-toggle="tab">Refunds</a></li>
        <li><a href="#Notifications" data-toggle="tab">Notifications</a></li>
    </ul>
    <div class="tab-content">
        @Html.Partial("_TabTransactions", Model.Item.Transactions)       
        @Html.Partial("_TabChecks")
        @Html.Partial("_TabReports")
        <div class="tab-pane" id="Refunds">test4</div>
        <div class="tab-pane" id="Notifications">test5</div>
    </div>
    

</div>

@section AdditionalScripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#table-Transactions").dataTable({
                stateSave: true,
                stateDuration: 60 * 5,
                "aaSorting": [[1, "desc"]], //Default sort on second column
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] }, //Disables sort on icon columns
                    { 'type': 'boolean', 'aTargets': [4, 5, 6] }
                ]
            });
            $("#table-Checks").dataTable({
                stateSave: true,
                stateDuration: 60 * 5,
                "aaSorting": [[1, "desc"]], //Default sort on second column
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] }, //Disables sort on icon columns
                    { 'type': 'boolean', 'aTargets': [5] }
                ]
            });
            $("#table-Reports").dataTable({
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] }, //Disables sort on icon columns
                    { 'type': 'boolean', 'aTargets': [4] }
                ]
            });
        });
    </script>

    <script type="text/javascript">


        $(document).ready(function() {
            $("a.FormSubmit").click(function() { $(this).parents("form").submit(); });

            $.each($("Img"), function(index, item) {
                if ($(item).hasClass("CreditIdImage")) {
                    $(item).bt({trigger: 'click', width: '430px'});
                }
            });

            $.each($("Img"), function(index, item) {
                if ($(item).hasClass("ReasonImage")) {
                    $(item).bt({ width: '430px' });
                }
            });

            //Select active tab with link
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            // store the currently selected tab in the hash value
            $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#myTab a[href="' + hash + '"]').tab('show');

        });
    </script>

}

@section AdditionalStyles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
}
