@model CRP.Core.Domain.Item
@using Microsoft.Azure

@section AdditionalStyles
{
    <link href="@Url.Content("~/Content/jquery.gPositions.css")" rel="Stylesheet" type="text/css" />
}

<fieldset>

    <div id="map" style="margin: 0px 0px 20px;">
        <div class="gp-map" style="height: 300px; width: 500px;"></div>

        @foreach (var a in Model.MapPins)
        {
            <div class="gp-coordinate @(a.IsPrimary ? " gp-default" : string.Empty)" data-lat="@a.Latitude" data-lng="@a.Longitude">
                <dt class="gp-name">@a.Title</dt>
                @if (!string.IsNullOrWhiteSpace(a.Description))
                {
                    <dd class="gp-description">@a.Description ?? string.Empty</dd>
                }
            </div>
        }
    </div>

    <div style="clear:both;"></div>

    <fieldset style="margin-top: 1em;">
        <div id="mapGrid">
            <p>
                @Html.ActionLink("Add Map Pin", "Create", new { id = Model.Id })
            </p>

            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var p in Model.MapPins.OrderByDescending(p => p.IsPrimary))
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "MapPin", new { itemId = Model.Id, mapPinId = p.Id })
                            @Html.ActionLink("Remove", "RemoveMapPin", "MapPin", new { itemId = Model.Id, mapPinId = p.Id })
                        </td>
                        <td>@p.Title</td>
                        <td>@p.Description</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </fieldset>
</fieldset>

@section AdditionalScripts
{
    <script src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&key=@CloudConfigurationManager.GetSetting("MapsApi")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.gPositions.js")"></script>

    <script type="text/javascript">
        $(function () {
            $("#map").gPositions({ loadAll: true, helpIcon: '@Url.Content("~/Images/question_blue.png")', mode: MapMode.Standard });
        });
    </script>
}
