@model IEnumerable<CRP.Mvc.Controllers.ViewModels.ItemListView>

@{
    ViewBag.Title = "List2";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">

    <p>
        @Html.ActionLink("Create New", "Create") | 
        <a href="https://www.youtube.com/watch?v=Zi1DyKgev8M&feature=youtu.be" target="_blank">Watch Demo</a>
    </p>
    <p>
        @using (Html.BeginForm("List", "ItemManagement", FormMethod.Get))
        {
            <label for="transactionNumber">Transaction Number: </label>
            @Html.TextBox("transactionNumber")
            <input type="submit" value="Filter"/>
        }
    </p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CostPerItem)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td nowrap>
                        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Map", "Map", new { id = item.Id }) |
                        @Html.ActionLink("Copy", "Copy", new { id = item.Id }) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td data-sort="@item.CostPerItem">
                        @($"{item.CostPerItem:C}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sold)
                    </td>
                    <td data-sort="@(item.Expiration?.Ticks)">
                        @($"{item.Expiration:d}")
                    </td>
                    <td data-sort="@item.DateCreated.Ticks">
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td data-sort="@item.Available">
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        @Html.ActionLink("Register", "Checkout", "Payments", new {id = item.Id}, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section AdditionalScripts
{
    <script type="text/javascript">
        $(function() {
            $(".table").DataTable({
                sorting: [[6, "desc"]], //Default sort on second column
                columnDefs: [
                    { orderable: false, 'targets': [0, -1] }, //Disables sort on icon columns
                ]
            });
        });
    </script>
}
