@model IEnumerable<CRP.Core.Domain.ApplicationKey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "ApplicationKey", null, new {@class="btn"})
    </p>
    <table id="table">
        <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Toggle Active", "ToggleActive", "ApplicationKey", new {id = item.Id}, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        @Html.ActionLink("Back", "Index", "ApplicationManagement", null, new { @class = "btn" })
    </div>
</div>

@section AdditionalStyles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
}

@section AdditionalScripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable({
                "aaSorting": [[1, "desc"]], //Default sort on second column
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] } //Disables sort on icon columns
                ]
            });

        });
    </script>
}
