@using Microsoft.Azure
@model CRP.Controllers.ViewModels.BigMapViewModel

@{
    ViewBag.Title = "MapDirections";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<div id="map" class="boundary">
    <p>
        @Html.ActionLink("Full Screen Map Just Pins", "Map", new { id = Model.Item.Id, usePins = true })
    </p>
    <div class="gp-map" style="height: 800px; width: 1500px;"></div>
    @foreach (var a in Model.Item.MapPins)
    {
        <div class="gp-coordinate @(a.IsPrimary ? " gp-default" : string.Empty)" data-lat="@a.Latitude" data-lng="@a.Longitude">
            <dt class="gp-name">@Html.Encode(a.Title)</dt>
            @if (!string.IsNullOrWhiteSpace(a.Description))
            {
                <dd class="gp-description">@Html.Encode(a.Description ?? string.Empty)</dd>
            }
        </div>
    }

</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/qtip")
    <script src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&key=@CloudConfigurationManager.GetSetting("MapsApi")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/map")


    <script type="text/javascript">
        $(function() {
            $("#map").gPositions({ helpIcon: '@Url.Content("~/Images/question_blue.png")', mode: MapMode.ROUTING, displayDirections: true });
            $(".gp-sidecontainer-title img").attr("title", "");
            //$(".gp-sidecontainer-title img").bt("To view Locations on the map, click on the tabs below", { positions: 'top' });
            $(".gp-sidecontainer-title img").qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: 'To view Locations on the map, click on the tabs below'
                },
                position: {
                    my: 'bottom left',
                    at: 'right top'
                },
                style: {
                    classes: 'qtip-bootstrap'
                }
            });
            $(".gp-directions .gp-sidecontainer-title img").qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: 'To view Directions on the map, click on 2 or more tabs under Loctaions'
                },
                position: {
                    my: 'bottom left',
                    at: 'right top'
                },
                style: {
                    classes: 'qtip-bootstrap'
                }
            });
        });
    </script>
}
@section AdditionalStyles
{    
    @Styles.Render("~/Content/gPositions")
    @Styles.Render("~/Content/qtipcss")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/print.css")" media="print" />
}





