
@model CRP.Mvc.Controllers.ViewModels.Financial.FinancialAccountDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Details</h2>

    <div class="pull-left" style="width: 100%">
        <h4>Account Info</h4>
        <hr />
            <dl class="dl-horizontal">
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FinancialAccount.Name)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FinancialAccount.Name)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FinancialAccount.Description)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FinancialAccount.Description)
                </dd>
                <dt class="col-md-4">
                    Account Number
                </dt>
                <dd class="col-md-8">
                    @Model.FinancialAccount.GetAccountString()
                </dd>
                <dt class="col-md-4">
                    F... Segment String
                </dt>
                <dd class="col-md-8">
                    @Model.FinancialAccount.FinancialSegmentString
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FinancialAccount.IsActive)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FinancialAccount.IsActive)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FinancialAccount.IsUserAdded)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FinancialAccount.IsUserAdded)
                </dd>
            </dl>
    </div>


    <div class="pull-left" style="width: 100%; margin: 20px;">
        @Html.ActionLink("Edit", "Edit", "FinancialAccount", new { id = Model.FinancialAccount.Id }, new { @class = "btn" }) |
        @Html.ActionLink("Back to List", "Index", "FinancialAccount", null, new { @class = "btn" })
    </div>

    <div class="pull-left" style="width: 100%">
        <h4>Items using this</h4>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Name
                    </th>
                    <th>
                        Date Created
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RelatedItems)
                {
                    <tr>
                        <td nowrap>

                            @Html.ActionLink("Edit Item", "Edit", "ItemManagement", new { id = item.Id }, null)
                        </td>
                        <td>
                            @item.Name
                        </td>

                        <td data-sort="@item.Created.Ticks">
                            @item.Created.ToShortDateString()
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            $(".table").DataTable({
                sorting: [[2, "desc"]], //Default sort on second column
                columnDefs: [
                    { orderable: false, 'targets': [0] }, //Disables sort on icon columns
                ]
            });
        });
    </script>
}
