@model IEnumerable<CRP.Core.Domain.FinancialAccount>

@{
    ViewBag.Title = "Index";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="boundary">
    <h2>Financial Accounts (Previously Touchnet FID)</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "FinancialAccount", null, new {@class="btn"})
    </p>
    <table id="table" class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Account Number
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.GetAccountString()
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="form-group">
        @Html.ActionLink("Back", "Index", "ApplicationManagement", null, new{@class="btn"})
    </div>
</div>


@section AdditionalScripts
{
    <script type="text/javascript">
        $(function() {
            $("#table").dataTable({
                "aaSorting": [[1, "desc"]], //Default sort on second column
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] } //Disables sort on icon columns
                ]
            });

        });
    </script>
}
